/*Fondo degradado*/
body {
    background: linear-gradient(45deg, #9400D3, #4B0082, #1b6bff, #00FF00, #FFFF00, #FF7F00, #FF0000);
}

/*Contenedor para el div de h1,h2 y p*/
.container {
    display: block;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/*Estilo para el texto h1,h2 y p*/
h1,
h2{
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 35px;
    color: #FF0000;
}

h2 {
    color: #229e22;
    font-size: 25px;
}
/*Estilo para la galería de imágenes. */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.gallery img {
    width: 980px;
    height: 580px;
    object-fit: cover;
    margin: 10px;
    border: 4px solid #00FFFF;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Para tablets*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .gallery img {
        width: 98%;
        height: 450px;
    }
}

/*Para celulares*/
@media (max-width: 480px) {
    .gallery img {
        width: 95%;
        height: 230px;
    }
}

/*Estilo para los botones*/
button {
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #9400D3;
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #04a0fa;
    transform: translateY(-3px);
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 0 5px;
}